body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: repeat; 
}

header {
    text-align: center; 
    padding: 20px 0;
}
.subtitle {
    font-style: italic; 
    font-size: 12px;
    color: rgb(119, 61, 131); 
    margin-bottom: 15px; 
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 192, 203, 0.8); 
    border-bottom: 2px solid black;
    text-align: center; 
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black; 
    
}

main {
    padding-top: 60px; 
}

.quote {
    width: 60%; 
    margin: 0 auto; 
    text-align: center; 
    margin-bottom: 40px; 
}
