html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.heart-container {
    position: relative;
    margin-bottom: 20px;
}

.heart-image {
    width: 100px; 
}

.names-section {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.name {
    flex-grow: 1;
    text-align: center;
}

.love-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: pink;
    border-bottom: 2px solid black;
    padding: 10px 0;
    text-align: center; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

nav ul li {
    display: inline;
    margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: darkred; 
}
